.cta  {
  @include text-position ($color-primary, 1em);
}
.image-container {
  width: 100%;
  img {
    width: 100%;
  }
}
.about {
  @include text-position(#525252, 0.8em) ;
  font-weight: 100;
  width: 60%;
}
.phone {
  @include text-position ($color-primary, 1.4em);
  width: 50%;
}
.email {
  @include text-position (#525252, 1em);

}
