$color-background: #FAFAFA;
<<<<<<< HEAD

@mixin text-position ($color, $font-size, $width) {
  line-height: 1em;
  width: $width;
  box-sizing: border-box;
  text-align: center;
  margin: 2.5rem auto;
  color: $color;
  font-size: $font-size;
}
=======
$color-primary: #009FAD;
$color-gray: #525252;
>>>>>>> 92f22cf1b6246a201930280fd56242e46a8f6d04
